@{
    ViewData["Title"] = "Farmer Dashboard";
}

<h2>Farmer Dashboard</h2>

<a href="@Url.Action("AddProduct", "Farmer")">Add Product</a> |
<a href="@Url.Action("MyProducts", "Farmer")">View My Products</a>
